<h1>事故の検証</h1>

<% @displayResults.each do |item| %>
  <p><%= item %></p>
<% end %>

<% @spanInfos.each do |info| %>
  <p><%= info.label %>|<%= info.getGraph + " " + info.getLength.to_s + " (" + info.getRatio(@spanCount) + "%)" %></p>
<% end %>
